/* Result numbers */
/* code {
    padding: 0.2em 0.4em;
    margin: 0px;
    border-radius: 0.25rem;
    background: rgb(255, 255, 255);
    color: rgb(136, 0, 0);
} */
/* Background */
/* .css-h9oeas {
    position: absolute;
    background: rgb(240, 242, 246);
    color: rgb(0, 0, 0);
    inset: 0px;
    overflow: hidden;
} */

/* Dataframe table */
/* .css-sc0g0 {
    padding: 0.5rem;
    font-size: 0.8rem;
    font-family: "IBM Plex Mono", monospace;
    text-align: right;
    user-select: none;
    background-color: rgb(255, 255, 255);
    color: rgb(22, 22, 24);
    z-index: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 0.75;
} */

/* Input table */
/* .st-bt {
    background-color: rgb(255, 255, 255);
}
.st-bs {
    background-color: rgb(255, 255, 255);
}
.st-bq {
    color: rgb(3, 3, 3);
} */

/* active checkbox */
/* .st-ew {
    background-color: rgb(64, 172, 73);
} */

/* .css-z8764s:hover, .css-z8764s:focus {
    color: rgb(255, 255, 255);
    background-color: rgb(61, 129, 195);
    transition: none 0s ease 0s;
    outline: none;
} */

/* file uploader */
/* .css-1syfshr {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 1rem;
    background-color: rgba(61, 129, 195, 0.24);
    border-radius: 0.25rem;
    color: rgb(38, 39, 48);
} */

footer {
	
	visibility: hidden;
	
	}
footer:after {
	content:'2021 Volumetric Calculator'; 
	visibility: visible;
	display: block;
	position: relative;
	/* background-color: red; */
	padding: 5px;
	top: 2px;
}

/* 
azul 61, 129, 195
verde 64, 172, 73 
*/